---
import type { RichTextComponentProps, StoryblokRichTextJson } from '../lib/richtext-renderer';
import RichTextMark from '../lib/richtext-renderer/astro/RichTextMark.astro';

interface Props {
  node: StoryblokRichTextJson;
}
const { node } = Astro.props;
const { attrs, content } = node;
// console.log(Astro.props);
---

<h1>
  {content?.map((node) => <RichTextMark node={node} />)}
</h1>
